<div>
    <div class="card">
      <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{this.selectDescription}}</h5>
        <p class="card-text">{{this.additionalInformation}}</p>
        <p class="card-text">{{this.jobstatus}}</p>
      </div>
    </div>
</div>
    
    