{{#if userInSession}}   
  {{>navbar}}
  
    {{#with recipe}}
      {{>recipeDetails}}
    {{/with}}
    {{!-- <div class="recipe-card">
      <h1 class="recipe-card-title">{{title}}</h1>
      <div class="recipe-info">
        <h2 class="recipe-fs">Level: {{level}}</h2>
        <h2 class="recipe-fs">Type: {{dishType}}</h2>
        <h2 class="recipe-fs">Ingredients:</h2>
        <ul class="recipe-fs">
          {{#each ingredients}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
        <h2 class="recipe-fs">Preparation: {{duration}} minutes</h2>

        <h2 class="recipe-fs">isVegetarian: {{isVegetarian}}</h2>
      </div>
        <h2 class="recipe-fs">Description</h2>
        <p class="recipe-fs">{{description}}</p>

        </div> --}}

{{else}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="/recipes">Logo</a>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/">Foodle</a>
      </li>
    </ul>
  </nav>

  <section id="error-container">
    <div class="alert text-center auth--card " role="alert">
      <h1>Error!</h1>
      <h2>Still no logged in user, sorry!</h2>
      <a href="/login"><button type="button" class="btn btn-outline-danger btn-lg">Log in</button></a>
      <a href="/signup"><button type="button" class="btn btn-outline-danger btn-lg">Sign up</button></a>
    </div>
  </section>
{{/if}}

  